/* Font for Magic symbols*/
@font-face {
    font-family: 'magic symbols';
    src: url('magis2004-webfont.eot');
    src: url('magis2004-webfont.eot?#iefix') format('embedded-opentype'),
         url('magis2004-webfont.woff') format('woff'),
         url('magis2004-webfont.ttf') format('truetype'),
         url('magis2004-webfont.svg#magic_symbols_2004Rg2004') format('svg');
    font-weight: normal;
    font-style: normal;
    }



/*Magic Cards font*/
@font-face {
    font-family: matrixbold;
    src: url('matrixb-webfont.eot');
    src: url('matrixb-webfont.eot?#iefix') format('embedded-opentype'),
         url('matrixb-webfont.woff') format('woff'),
         url('matrixb-webfont.ttf') format('truetype'),
         url('matrixb-webfont.svg#matrixbold') format('svg');
    font-weight: normal;
    font-style: normal;
    }

    body{
        font-family: Trebuchet MS, serif;
        background-color: #ececec;
        font-size: 16px;
    }

    header{
        margin: 20px;
        text-align: center;
        font-size: 200%;
    }

    b{
        font-family: Trebuchet MS, serif;
        font-weight: bold;
        font-size: 90%;
    }

    select{
        width: 110px;
    }

#editionBox{
    width: 35%;
    margin-left: 550px;
    margin-top: 6px;
    padding:30px;
    background-color: #f5f5f5;
    border-radius: 10px}

#finder{width: 430px; margin: auto; border-radius: 10px;}
#results{
    margin: auto;
    margin-top: 30px;
    width: 290px;
    border: 1px solid #CCCCCC;
}
#hiddenForm{display: none}
#hiddenInput{display: none}
.shadow{
    width: 430px;
    margin: auto;
    border-radius: 10px;
    -moz-box-shadow: -5px 8px 10px #999;
    -webkit-box-shadow: -5px 8px 10px #999;
}

.hidden{display: none}
.wrapper{margin:15px; padding-top: 1px}
.modifySearch{float:left; width: 35%}
.leftyFrame{width:100%; height: 100%}
.searchForm{margin: 0}
.imgBox{ width:300px; height:418px; background-image: url('Blue.png') }
.cardName{ text-align:left; font-weight:600;margin:0; padding:25px 0 0 25px; font: matrixbold; }
.cardType{text-align:left; margin:0; padding:195px 0 0 25px; font: matrixbold;}
.cardRules{text-align:left; margin:0; padding:20px 0 0 25px; font: matrixbold;}
.cardText{text-align:left; font-style: italic; margin:0; padding:40px 0 0 25px; font: matrixbold;}
.cardPT{text-align:right; font-weight:600; margin:0; padding:30px 25px 0 25px; font: matrixbold;}
.commonButton{background: #ccc; height: 20px; border-radius: 5px;}
.searchFieldFixed{width:330px;margin: auto; padding: 50px; background-color: #f5f5f5; border-radius: 10px}
.searchOptions{border: 0; padding: 5px}
.searchCheckbox{padding-left: 114px}
.submitButton{margin-right: 0; float:right}
.error{color: red; display: inline; width: 200px}
.correct{color: green; display: inline; width: 200px}

.searchForm label{
    display: inline-block;
    width: 110px;
    text-align: right;
}

/* Finder "animation" and element styles */

.cardDisplay{
    display: none;
    margin: auto;
}
.cardMini{
    height: 25px;
    font-family: Georgia, Times, serif;
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    line-height: 25px;
    width: 240px;
}

.cardImage{
    width: 240px;
    height: 340px;
    border-radius: 5px
}

#cardName{
    max-width: 200px;
    min-width: 150px;
    padding-top: 25px;
    padding-left: 25px;
    float: left;
}

#CMC{
    text-align: right;
    padding-top: 25px;
    padding-right: 25px;
    max-width: 100px;
    overflow: hidden;
}

#type{
    padding-top: 192px;
    padding-left: 25px;
}

#rules{
    padding-top: 6px;
    padding-left: 25px;
    padding-right: 25px;
    max-height: 126px;
    font-size: 70%;
}

/*Deck list styles*/

.deckList{
    overflow: hidden;
    width:320px;
    font-family:Georgia, Times, serif;
    font-size:15px;
    /*border: 1px solid #CCCCCC;*/
}

.deckList dl{
    margin: 0;
    list-style: none;
}

.deckList dl dt label{
    position: relative;
    text-align: left;
    background-color: #B8C1C8;
    color: #FFF;
    font: bold 18px/21px Helvetica, Arial, sans-serif;
    margin-left: 40px;
    line-height: 20px;
    border-bottom: 1px solid #989EA4;
    border-top: 1px solid #717D85;
    padding: 0 170px 0 5px;
    text-shadow: 0 1px #646A6E;
    -moz-text-shadow: 0 1px #646A6E;
    -webkit-text-shadow: 0 1px #646A6E;
}

.deckList dl dd{
    background-color:#FFFFFF;
    line-height:25px;
    border-bottom: 1px solid #CCCCCC;
    padding-left:10px;
    cursor:pointer;
}

.deckList dl dd:hover{
    color:#FFFFFF;
    background: url('hover.png') repeat-x;
}

.deckList dl dd span{
    margin-right: 15px;
}

.editionMenu{
    padding-top: 100px;
    float: left;
}

/*Menu Icons*/

.minus-icon, .cross-icon, .arrow-up-icon, .arrow-right-icon, .arrow-down-icon, .add-icon-blue, .add-icon{
    background: url(icons.png) no-repeat;
}
.minus-icon{
    background-position: 0 0;
    width: 16px;
    height: 16px;
}

.cross-icon{
    background-position: -18px 0;
    width: 16px;
    height: 16px;
}

.arrow-up-icon{
    background-position: -35px 0;
    width: 16px;
    height: 16px;
}

.arrow-right-icon{
    background-position: -54px 0;
    width: 16px;
    height: 16px;
}

.arrow-down-icon{
    background-position: 0 -23px ;
    width: 16px;
    height: 16px;
}

.add-icon-blue{
    background-position: -19px -23px ;
    width: 16px;
    height: 16px;
}

.add-icon{
    background-position: -42px -23px ;
    width: 16px;
    height: 16px;
}

/*Mana Icons*/
.blackMana, .blueMana, .greenMana, .redMana, .whiteMana{
    background: url(sprites.png) no-repeat;
}

.blackMana{
    background-position: 0 0;
    width: 15px;
    height: 15px;
}

.blueMana{
    background-position: -18px 0;
    width: 15px;
    height: 15px;
}

.greenMana{
    background-position: -36px 0;
    width: 15px;
    height: 15px;
}

.redMana{
    background-position: -54px 0;
    width: 15px;
    height: 15px;
}

.whiteMana{
    background-position: -74px 0;
    width: 15px;
    height: 15px;
}




